<div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-xs-12">
        <h1>My First Angular App</h1>
      </div>
    </div>
  </div>

  <!-- Next Steps -->
  <h2>Next Steps {{name}}</h2>
  <p>What do you want to do next with your app?</p>
  <input [(ngModel)]="name" type="text">
  <p>{{name}}</p>
  <hr>

  <button (click)="onClick($event)" class="btn btn-primary">Submit</button>

  <p>the number of times clicked {{clickCounter}}</p>

  <app-success></app-success>
  <app-warning></app-warning>
  <app-servers></app-servers>
  <app-user></app-user>
  <app-server></app-server>
  <app-toggle-choice></app-toggle-choice>

</div>
